{% extends "base.html" %}
{% block conteudo %}
  
<!-- MAIN -->
<div id="main">
  <!-- wrapper -->
  <div class="wrapper">
    <!-- content -->
    <div class="content">
      <!-- title -->
      <div class="title-holder"> <span class="title">Contato</span> <span class="subtitle"></span> </div>
      <!-- ENDS title -->
      <!-- page-content -->
      <div class="page-content">
        <!-- 2 cols -->
        <div class="one-half">
          <h4></h4>
          <p></p>
          <!-- form -->
          <form id="contactForm" action="#" method="post">
            <fieldset>
              <p>
                <label>NOME:</label>
                <input name="name"  id="name" type="text" />
              </p>
              <p>
                <label>EMAIL:</label>
                <input name="email"  id="email" type="text" />
              </p>
              <p>
                <label>SITE(opicional):</label>
                <input name="web"  id="web" type="text" />
              </p>
              <p>
                <label>MENSAGEM:</label>
                <textarea  name="comments"  id="comments" rows="5" cols="20" ></textarea>
              </p>
              <p>
                <input type="button" value="SEND" name="submit" id="submit" />
              </p>
            </fieldset>
          </form>
          <!-- ENDS form -->
        </div>
        <div class="one-half last">
          <h4>LOCATION </h4>
          <p>Ainda sem local fico</p>
          <p><img src="/static/img/dummies/map.jpg" alt="" class="shadow-img" /></p>
          <p><br/><br/>
            (+5581) 99781-4629 , (+5581) 98543-6368<br/>
            <a href="mailto:gameland@gamelandbr.com">gameland@gamelandbr.com</a></p>
        </div>
        <div class="clear "></div>
        <!-- ENDS 2 cols -->
      </div>
      <!-- ENDS page-content -->
    </div>
    <!-- ENDS content -->
    <!-- twitter -->
    <div class="twitter-reader">
      <div id="twitter-holder">
        <ul>
          <li>
            
          </li>
        </ul>
      </div>
    </div>
    <!-- ENDS twitter -->
  </div>
  <!-- ENDS main-wrapper -->
</div>
<!-- ENDS MAIN -->
{% endblock conteudo %}