<!-- FOOTER -->
<div id="footer">
  <div class="degree">
    <!-- wrapper -->
    <div class="wrapper">
      <!-- social bar -->
      <div id="social-bar">
        <ul class="follow-us">
          <li><span>SIGA GAMELANDBR</span></li>
          <li><a href="https://www.facebook.com/GMLDBr/" target="_blank" class="icon-32 facebook-32 social-tooltip" title="GamelandBR®">link</a></li>
          <li><a href="#" class="icon-32 twitter-32 social-tooltip" title="GamelandBR®">link</a></li>
          <li><a href="#" class="icon-32 instagram-32 social-tooltip" title="GamelandBR®">link</a></li>
          <li><a href="#" class="icon-32 email-32 social-tooltip" title="GamelandBR®">link</a></li>
        </ul>
      </div>
      <!-- ENDS social bar -->
      <!-- footer-cols -->
      <ul class="footer-cols">
        <li class="col">
          <h6>CATEGORIES</h6>
          <ul>
            <li><a href="#">WEBDESIGN</a></li>
            <li><a href="#">WORDPRESS</a></li>
            <li><a href="#">PHOTO</a></li>
            <li><a href="#">CODING</a></li>
          </ul>
        </li>
        <li class="col">
          <h6>PAGES</h6>
          <ul>
            <li><a href="#">HOW TO CUSTOMIZE THIS TEMPLATE</a></li>
            <li><a href="#">5 ESSENTIALS RULES</a></li>
            <li><a href="#">LOREM IPSUM DOLOR</a></li>
          </ul>
        </li>
        <li class="col">
          <h6>Seja um GAMELANDER</h6>
          <p>ENVIE SEU(S) JOGO(S), FAÇA PARTE DO MAIS NOVO UNIVERSO DE GAMES <a href="/">CLIQUE AQUI</a> E CADASTRE-SE</p>
        </li>
        <li class="col">
          <h6>PAGES</h6>
          <ul>
            <li><a href="#">HOW TO CUSTOMIZE THIS TEMPLATE</a></li>
            <li><a href="#">5 ESSENTIALS RULES</a></li>
            <li><a href="#">LOREM IPSUM DOLOR</a></li>
          </ul>
        </li>
      </ul>
      <!-- ENDS footer-cols -->
    </div>
    <!-- ENDS footer-wrapper -->
  </div>
</div>
<!-- ENDS FOOTER -->
<!-- BOTTOM -->
<div id="bottom">
  <!-- wrapper -->
  <div class="wrapper">&copy; Copyright 2015 <a href="#">GamelandBR®</a> All Rights Reserved | Website Template By <a target="_blank" href="http://fb.com/ant.celso">Antonio Malaquias</a></div>
  <!-- ENDS bottom-wrapper -->
</div>
<!-- ENDS BOTTOM -->
<!-- start cufon -->
<script type="text/javascript"> Cufon.now(); </script>
<!-- ENDS start cufon -->