{% extends "base.html" %}
{% block conteudo %}
  
<!-- MAIN -->
<div id="main">
  <!-- wrapper -->
  <div class="wrapper">
    <!-- content -->
    <div class="content-blog">
      <!-- POSTS -->
      <div id="posts">
        <!-- post -->
        <div class="post">
          <!-- post-header -->
          <div class="post-header single">
            <div class="post-title"><a href="single.html" >Nome gamelander </a></div>
            <div class="post-meta"></a> </div>
          </div>
          <!-- ENDS post-header -->
          <!-- post-content -->
          <div> <img src="/static/img/dummies/feature-image.gif" alt="" />
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>

          </div>
          <!-- ENDS post-content -->
          
        </div>
        <!-- ENDS post -->
      </div>
      <!-- ENDS POSTS -->
      <!-- sidebar -->
      <ul id="sidebar">
        <!-- init sidebar -->
        <li>
          <h2 class="custom"><span>LINKS</span></h2>
          <ul>
            <li class="cat-item"><a href="#">WEBSITE</a></li>
            <li class="cat-item"><a href="#">SOCIAL</a>
              <ul><a href="#" class="icon-32 facebook-32 social-tooltip" title="facebook">link</a></ul>
              <ul><a href="#" class="icon-32 twitter-32 social-tooltip" title="twitter">link</a></ul>
              <ul><a href="#" class="icon-32 instagram-32 social-tooltip" title="instagram">link</a></ul>
              <ul><a href="#" class="icon-32 email-32 social-tooltip" title="email">link</a></ul>
            </li>
          </ul>
        </li>
        <!-- ENDS init sidebar -->
        <!-- recent posts -->
        <li class="recent-posts">
          <h2 class="custom"><span>MAIS DE [NOMEEMPRESA]</span></h2>
          <ul>
            <li> <a href="#"><img src="/static/img/dummies/dummy-post-48.gif" alt="" /></a>
              <div class="recent-excerpt">
                <div><a href="#">nome jogo</a></div>
                <div>Pellentesque habitant morbi fames ac turpis egestas...</div>
              </div>
            </li>
            <li> <a href="#"><img src="/static/img/dummies/dummy-post-48.gif" alt="" /></a>
              <div class="recent-excerpt">
                <div><a href="#">nome jogo</a></div>
                <div>Pellentesque habitant morbi fames ac turpis egestas...</div>
              </div>
            </li>
            <li> <a href="#"><img src="/static/img/dummies/dummy-post-48.gif" alt="" /></a>
              <div class="recent-excerpt">
                <div><a href="#">nome jogo</a></div>
                <div>Pellentesque habitant morbi fames ac turpis egestas...</div>
              </div>
            </li>
          </ul>
        </li>
        <!-- ENDS recent posts -->
      </ul>
      <!-- ENDS sidebar -->
    </div>
    <!-- ENDS content-blog -->
  </div>
  <!-- ENDS main-wrapper -->
</div>
<!-- ENDS MAIN -->
{% endblock conteudo %}