<div id="home-header">
  <div class="degree">
    <!-- wrapper -->
    <div class="wrapper"> <a href="/"><img src="/static/img/logo.png" height="150" width="200" id="logo" /></a>
      <!-- search -->
      <div class="top-search">
        <form  method="get" id="searchform" action="#">
          <div>
            <input type="text" value="Search..." name="s" id="s" onfocus="defaultInput(this)" onblur="clearInput(this)" />
            <input type="submit" id="searchsubmit" value="" />
          </div>
        </form>
      </div>
      <!-- ENDS search -->
      <!-- navigation -->
      <div id="nav-holder">
        <ul id="nav" class="sf-menu">
          <li><a href="/">HOME</a>

          </li>
          <li><a href="#">CATEGORIAS</a>
            <ul>
              <li><a href="/jogos">Ação</a></li>
              <li><a href="/jogos">Aventura</a></li>
              <li><a href="/jogos">Casual</a></li>
              <li><a href="/jogos">Corrida</a></li>
              <li><a href="/jogos">Esportes</a></li>
              <li><a href="/jogos">Estratégia</a></li>
              <li><a href="/jogos">MMO</a></li>
              <li><a href="/jogos">RPG</a></li>
              <li><a href="/jogos">Simulação</a></li>
              <li><a href="/jogos">Outros</a></li>
            </ul>
          </li>
          </li>
          <li><a href="/gamelanders">GAMELANDERS</a></li>
          <li><a href="/contato">CONTATO</a></li>
          <li><a href="/quem_somos">QUEM SOMOS</a></li>
          <li><a href="/quem_somos">SOBRE</a></li>
        </ul>
      </div>
      <!-- ENDS navigation -->
    </div>
    <!-- ENDS HEADER-wrapper -->
  </div>
</div>
<!-- ENDS HEADER -->