{% extends "base.html" %}
{% block conteudo %}
  
<!-- MAIN -->
<div id="main">
  <!-- wrapper -->
  <div class="wrapper">
    <!-- content -->
    <div class="content">
      <!-- title -->
      <div class="title-holder"> <span class="title">[categoria]</span> <span class="subtitle"></span> </div>
      <!-- ENDS title -->
      <!-- page-content -->
      <div class="page-content">
        <!-- holder -->
        <div class="holder">
          <!-- portfolio-sidebar -->
          <div class="portfolio-sidebar">
            <h2>CATEGORIES</h2>
            <ul>
              <li><a href="/jogos">ação</a></li>
              <li><a href="/jogos">aventura</a></li>
              <li><a href="/jogos">casual</a></li>
              <li><a href="/jogos">corrida</a></li>
              <li><a href="/jogos">esportes</a></li>
              <li><a href="/jogos">estratégia</a></li>
              <li><a href="/jogos">MMO</a></li>
              <li><a href="/jogos">RPG</a></li>
              <li><a href="/jogos">simulação</a></li>
              <li><a href="/jogos">outros</a></li>
            </ul>
          </div>
          <!-- ENDS portfolio-sidebar -->
          <!-- portfolio-content -->
          <div class="holder">
            <ul class="portfolio-thumbs">
              <li> <a href="/jogo"><img src="/static/img/dummies/portfolio-thumb.gif" alt="" /></a>
                <div class="name"><a href="/jogo">NOME DO JOGO</a></div>
                <div class="sub-name">NOME DO GAMELANDER</div>
              </li>
              <li> <a href="/jogo"><img src="/static/img/dummies/portfolio-thumb.gif" alt="" /></a>
                <div class="name"><a href="/jogo">NOME DO JOGO</a></div>
                <div class="sub-name">NOME DO GAMELANDER</div>
              </li>
              <li> <a href="/jogo"><img src="/static/img/dummies/portfolio-thumb.gif" alt="" /></a>
                <div class="name"><a href="/jogo">NOME DO JOGO</a></div>
                <div class="sub-name">NOME DO GAMELANDER</div>
              </li>
              <li> <a href="/jogo"><img src="/static/img/dummies/portfolio-thumb.gif" alt="" /></a>
                <div class="name"><a href="/jogo">NOME DO JOGO</a></div>
                <div class="sub-name">NOME DO GAMELANDER</div>
              </li>
              <li> <a href="/jogo"><img src="/static/img/dummies/portfolio-thumb.gif" alt="" /></a>
                <div class="name"><a href="/jogo">NOME DO JOGO</a></div>
                <div class="sub-name">NOME DO GAMELANDER</div>
              </li>
              <li> <a href="/jogo"><img src="/static/img/dummies/portfolio-thumb.gif" alt="" /></a>
                <div class="name"><a href="/jogo">NOME DO JOGO</a></div>
                <div class="sub-name">NOME DO GAMELANDER</div>
              </li>
              <li> <a href="/jogo"><img src="/static/img/dummies/portfolio-thumb.gif" alt="" /></a>
                <div class="name"><a href="/jogo">NOME DO JOGO</a></div>
                <div class="sub-name">NOME DO GAMELANDER</div>
              </li>
              <li> <a href="/jogo"><img src="/static/img/dummies/portfolio-thumb.gif" alt="" /></a>
                <div class="name"><a href="/jogo">NOME DO JOGO</a></div>
                <div class="sub-name">NOME DO GAMELANDER</div>
              </li>
              <li> <a href="/jogo"><img src="/static/img/dummies/portfolio-thumb.gif" alt="" /></a>
                <div class="name"><a href="/jogo">NOME DO JOGO</a></div>
                <div class="sub-name">NOME DO GAMELANDER</div>
              </li>
            </ul>
            <!-- portfolio-pager -->
            <div class="pager">
              <p class="clear"></p>
              <ul class="portfolio-pager">
                <li><a href="#">NEWER</a></li>
                <li class="last-child"><a href="#">OLDER</a></li>
              </ul>
            </div>
            <!-- ENDS portfolio-pager -->
          </div>
          <!-- ENDS portfolio-content -->
        </div>
        <!-- ENDS holder -->
      </div>
      <!-- ENDS page-content -->
    </div>
    <!-- ENDS content -->
    <!-- twitter -->
    <div class="twitter-reader">
      <div id="twitter-holder">
        <ul>
          <li>
            <div class="twitter-entry"><span class="twitter-time"></span> </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- ENDS twitter -->
  </div>
  <!-- ENDS main-wrapper -->
</div>
<!-- ENDS MAIN -->
{% endblock conteudo %}