{% extends "base.html" %}
{% block conteudo %}

<!-- MAIN -->
<div id="main">
    <!-- wrapper -->
    <div class="wrapper">
        <!-- content -->
        <div class="content">
            <!-- title -->
            <div class="title-holder"> <span class="title">Jogo</span> <span class="subtitle">Resumo do jogo</span> <a href="/jogos" class="link-button"><span>Voltar para categoria</span></a> </div>
            <!-- ENDS title -->
            <!-- page-content -->
            <div class="page-content"> <img src="/static/img/dummies/portfolio-image.gif" alt="" class="portfolio-image" />
                <!-- holder -->
                <div class="holder">
                    <!-- portfolio-gallery -->
                    <div class="mini-gallery-holder">
                        <ul class="mini-gallery">
                            <li><a href="/static/img/dummies/feature-image.gif" rel="prettyPhoto[gal]"><img src="/static/img/dummies/mini-gallery.gif" alt="" /></a></li>
                            <li><a href="/static/img/dummies/feature-image.gif" rel="prettyPhoto[gal]"><img src="/static/img/dummies/mini-gallery.gif" alt="" /></a></li>
                            <li><a href="/static/img/dummies/feature-image.gif" rel="prettyPhoto[gal]"><img src="/static/img/dummies/mini-gallery.gif" alt="" /></a></li>
                            <li><a href="/static/img/dummies/feature-image.gif" rel="prettyPhoto[gal]"><img src="/static/img/dummies/mini-gallery.gif" alt="" /></a></li>
                            <li><a href="/static/img/dummies/feature-image.gif" rel="prettyPhoto[gal]"><img src="/static/img/dummies/mini-gallery.gif" alt="" /></a></li>
                            <li><a href="/static/img/dummies/feature-image.gif" rel="prettyPhoto[gal]"><img src="/static/img/dummies/mini-gallery.gif" alt="" /></a></li>
                            <li><a href="/static/img/dummies/feature-image.gif" rel="prettyPhoto[gal]"><img src="/static/img/dummies/mini-gallery.gif" alt="" /></a></li>
                            <li><a href="/static/img/dummies/feature-image.gif" rel="prettyPhoto[gal]"><img src="/static/img/dummies/mini-gallery.gif" alt="" /></a></li>
                            <li><a href="/static/img/dummies/feature-image.gif" rel="prettyPhoto[gal]"><img src="/static/img/dummies/mini-gallery.gif" alt="" /></a></li>
                        </ul>
                    </div>
                    <!-- ENDS portfolio-gallery -->
                    <!-- portfolio-content -->
                    <div class="portfolio-content">
                        <div class="name custom">PROJECT NAME </div>
                        <div>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt.</p>
                        </div>
                        <a href="#" class="link-button"><span>VISIT WEBSITE</span></a> </div>
                    <!-- ENDS portfolio-content -->
                </div>
                <!-- ENDS holder -->

                <div class="one-half">
                    <h4>Requisitos Minimos</h4>
                    <br>
                    <ul>
                        <li class="subtitle">SO: Windows</li>
                        <li class="subtitle">processador:  Intel i5 2.3 GHz or comparable</li>
                        <li class="subtitle">ram</li>
                        <li class="subtitle">video</li>
                        <li class="subtitle">espaço em disco</li>
                        <li class="subtitle">directx</li>
                    </ul>
                </div>

                <div class="one-half last">
                    <h4>Requisitos Recomendados</h4>
                    <br>
                    <ul>
                        <li class="subtitle">SO: Windows</li>
                        <li class="subtitle">processador:  Intel i5 2.3 GHz or comparable</li>
                        <li class="subtitle">ram</li>
                        <li class="subtitle">video</li>
                        <li class="subtitle">espaço em disco</li>
                        <li class="subtitle">directx</li>
                    </ul>
                </div>

            </div>
                <div class="twitter-reader">
                    <!-- related-projects -->
                    <div class="related-projects">
                        <h1>Relacionados</h1>
                        <ul class="related-projects-list">
                            <li> <a href="#"><img src="/static/img/dummies/related-projects.gif" alt="" /></a>
                                <div>Nome do jogo</div>
                            </li>
                            <li> <a href="#"><img src="/static/img/dummies/related-projects.gif" alt="" /></a>
                                <div>Nome do jogo</div>
                            </li>
                            <li> <a href="#"><img src="/static/img/dummies/related-projects.gif" alt="" /></a>
                                <div>Nome do jogo</div>
                            </li>
                            <li> <a href="#"><img src="/static/img/dummies/related-projects.gif" alt="" /></a>
                                <div>Nome do jogo</div>
                            </li>
                            <li> <a href="#"><img src="/static/img/dummies/related-projects.gif" alt="" /></a>
                                <div>Nome do jogo</div>
                            </li>
                            <li> <a href="#"><img src="/static/img/dummies/related-projects.gif" alt="" /></a>
                                <div>Nome do jogo</div>
                            </li>
                        </ul>
                    </div>
                    <!-- ENDS related-projects -->
                </div>
            </div>
            <!-- ENDS page-content -->
        </div>
        <!-- ENDS content -->
        <!-- twitter -->
        <div class="twitter-reader">
            <div id="twitter-holder">
                <div class="fb-comments" data-href="http://localhost:8000/jogo" data-numposts="1"></div>
            </div>
        </div>
        <!-- ENDS twitter -->
    </div>
<!-- ENDS main-wrapper -->
</div>
<!-- ENDS MAIN -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8&appId=1637759846536084";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>
<!-- ENDS MAIN -->
{% endblock conteudo %}