{% extends "base.html" %}
{% block conteudo %}
<!-- MAIN -->
<div id="main">
  <!-- wrapper -->
  <div class="wrapper">
    <!-- content -->
    <div class="content">
      <!-- title -->
      <div class="title-holder"> <span class="title">Gamelanders</span> <span class="subtitle">Em breve mais informações</span> </div>
      <!-- ENDS title -->
      <!-- page-content -->
      <div class="page-content">
        <!-- staff -->
        <ul class="staff">
          <li> <img src="/static/img/guy.png" alt="" />
            <div class="information">
              <div class="header">
                <div class="name">Malaq</div>
                <div class="contact">Programer / <a href="#">Website</a> / </div>
              </div>
              <div>
              <p>my bio</p>
              </div>
            </div>
          </li>
          <li> <img src="/static/img/guy.png" alt="" />
            <div class="information">
              <div class="header">
                <div class="name">Eynvert</div>
                <div class="contact">Web Designer / <a href="#">Website</a> / </div>
              </div>
              <div>
                <p>my bio</p>
              </div>
            </div>
          </li>
        </ul>
        <!-- ENDS staff -->
      </div>
      <!-- ENDS page-content -->
    </div>
    <!-- ENDS content -->
    <!-- twitter -->
    <div class="twitter-reader">
      <div id="twitter-holder">
        <ul>
          <li>
          </li>
        </ul>
      </div>
    </div>
    <!-- ENDS twitter -->
  </div>
  <!-- ENDS main-wrapper -->
</div>
<!-- ENDS MAIN -->
{% endblock conteudo %}