<!DOCTYPE html>
<html>
<head>
	<title>. : Gameland : .</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/static/js/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" />

		<script type="text/javascript" src="/static/js/jquery_1.4.2.js"></script>
		<script type="text/javascript" src="/static/js/jqueryui.js"></script>
		<script type="text/javascript" src="/static/js/easing.js"></script>
		<script type="text/javascript" src="/static/js/jquery.cycle.all.js"></script>
		<script type="text/javascript" src="/static/js/tooltip/jquery.tools.min.js"></script>
		<script type="text/javascript" src="/static/js/filterable.pack.js"></script>
		<script type="text/javascript" src="/static/js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="/static/js/jquery.tabs/jquery.tabs.pack.js"></script>
		<script type="text/javascript" src="/static/js/custom.js"></script>
		<script src="/static/js/cufon-yui.js" type="text/javascript"></script>
		<script src="/static/js/fonts/bebas-neue_400.font.js" type="text/javascript"></script>

		<link rel="stylesheet" type="text/css" media="screen" href="/static/css/superfish-custom.css" />

		<script type="text/javascript" src="/static/js/superfish-1.4.8/js/hoverIntent.js"></script>
		<script type="text/javascript" src="/static/js/superfish-1.4.8/js/superfish.js"></script>

		<link rel="stylesheet" href="/static/css/jquery.tabs.css" type="text/css" media="print, projection, screen" />
</head>
</html>

<body>
	{% block header %}
		{% include "header.html" %}
	{% endblock header %}
	{% block conteudo %}
		
	{% endblock conteudo %}
	{% block footer %}
		{% include "footer.html" %}
	{% endblock footer %}
</body>